* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
   
}

:root{
    --color:rgb(54, 119, 172);
    --background-color:rgb(105, 174, 195);

}
body{
    background-color: hsl(238, 42%, 88%);
}

.header {
    display:flex;
    flex-wrap:wrap;
    font-family: 'Arial', Courier, monospace;
    background-color: grey;
    color: #ffffff;
}

.header h1 {
    padding-left:100px;
    padding-right: 10px;
    margin-top:10px;
    margin-bottom: 10px;
    margin-right:40%;
    font-size: 48px;
    background-color: var(--background-color);
  
}


.header div {
   
    padding-top: 20px;
    font-family: 'Arial', Courier, monospace;
    font-size: 30px;
}


/* Hover effect in red */
.header div li:hover{
    color:red;
}

.header div ul li {
   display: inline-block;
    margin-left: 25px; 
}

p{
    font-size:40px 
}

h3{
    font-size: 50px;

}
/* hero element is the giant photo that should be in the center, made it small and wide for a banner feel*/
.hero {
    position:relative;
    height: 300px;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1612740722203-ba65e8877d7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    background-position: center;
    display:flex;
    flex-wrap: wrap;

}


/* this gives our links a color but removes the underline from the nav element*/
a {
    color: var(--background-color);
    text-decoration: none;
}

/*when you hover over words with url it changes color*/
a:hover{
    color:red;
}


/* links at the bottom of the page layout */
.links ul li {
    text-decoration: underline;
    margin: 50px;
    padding-top:5%;
    display: inline-block;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: 40px;
   
}


/* this is the text over the hero photo thats like a banner*/
.text{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: var(--background-color);
    color:white;
    padding-left:20px;
    padding-right:20px;
}




/* makes the pop up on hover in the about me*/
span[data-descr] {
    position: relative;
    text-decoration: underline;
    color: rgb(33, 30, 204);
    cursor: grab;
  }

  span[data-descr]:hover::after {
    content: attr(data-descr);
    position: absolute;
    left: 0px;
    bottom: 24px;
    min-width: 200px;
    border: 1px #aaaaaa solid;
    background-color: #13293d;
    padding: 12px;
    color: #fff;
    font-size: 80%;
  
  }
  





/* this is the layout for the "p" in the about me*/
  .size {
    padding-left: 10px;
    padding-top: 2%;
    margin: 10px;
    font-size:40px;
    color: var(--background-color);

}

/*layout for the cards i think using <align> wouldve worked as well */
.container{
    display:grid;
    grid-template-columns: 25% 75%;
    padding:10px;
}

/* about me sidebard card */
.about-me {
    margin-bottom: 20px;
    padding: 30px;
    font-family: 'Arial', Courier, monospace;
    color: rgb(67, 113, 127);
    border-right:5px solid var(--background-color);
   
}



/* work sidebar card  */
.work {
    margin-bottom: 20px;
    padding: 30px;
    font-family: 'Arial', Courier, monospace;
    color: rgb(67, 113, 127);
    border-right:5px solid var(--background-color);
    
}
/* contact me sidebar card */
.contact {
    margin-bottom: 20px;
    padding: 30px;
    font-family: 'Arial', Courier, monospace;
    color: rgb(67, 113, 127);
    border-right:5px solid var(--background-color);
}

/* box is the divide for the cards/photos to go in */
.box{
    display:flex;
    flex-wrap: wrap;
}

/*text-block is the text that goes over the photos that are in the work area*/
.text-block{
    position:absolute;
    bottom:50px;
    left:5px;
    width:200px;
    background-color:var(--background-color);;
    color:white;
    padding-left:20px;
    padding-right:20px;
}

/* this is the text and the text-border in the cards*/
.column {
    position: relative;
    padding: 5px 16px;
   
  }

  /* this is the larger card for the work area*/
.card-main{
    margin: 10px 10px 10px 10px;
}

/*hover effect for the images on the page*/
img:hover{
    opacity: .5;
    color: #13293d;
}

/*big photo size*/
.card-main img{
    width:100%;
    height:100%;
    border: 5px solid var(--background-color);
}

/* spacing of the cards which are the photos */
.card{
    margin: 10px 10px 10px 10px; 
}

/*shape of the photos and the border effect in work*/
.card img{
    max-width:100%;
    width:430px;
    height:200px;
    border: 5px solid var(--background-color);
}


/*header for the text in the about me*/
.about-me h2 {
    display: absolute;
    text-align:right;
    font-size: 45px;
    font-size:4.5vw;
}

/*header for work in the sidebar*/
.work h2 {
    display: absolute;
    text-align:right;
    font-size: 45px;
    font-size:4.5vw;
    
}  

/*contact text in the sidebar*/
.contact h2{
    display: absolute;
    text-align:right;
    font-size: 45px;
    font-size:4.5vw;
    
}



/* bottom of the page text */
.footer {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    background-color: yellowgreen;
    font-size: 20px;
}