* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --color:rgb(54, 119, 172);
    --background-color:#d9dcd6;

}

.body {
    background-color: #d9dcd6;
}

.header {
    display:flex;
    flex-wrap:wrap;
    font-family: 'Courier New', Courier, monospace;
    background-color: grey;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    flex-wrap: wrap;
    padding-left:100px;
    margin-top:10px;
    margin-bottom: 10px;
    justify-content: space-between;
    font-size: 48px;
    background-color: var(--color);
  
}


.header div {
    padding-top: 20px;
    padding-left: 50%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-decoration:underline;
}

.header div ul {
    list-style-type: none;
}


.hero {
    height: 300px;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1612740722203-ba65e8877d7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    background-position: center;
    display:flex;
    flex-wrap: wrap;
}

a {
    color: #ffffff;
    text-decoration: none;
}


.header div li:hover{
    color:red;
}

.header div ul li {
    margin-left: 25px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

p {
    font-size:20px
}




a:hover{
    color:red;
}

span[data-descr] {
    position: relative;
    text-decoration: underline;
    color: green;
    cursor: grab;
  }

  span[data-descr]:hover::after {
    content: attr(data-descr);
    position: absolute;
    left: 0px;
    bottom: 24px;
    min-width: 200px;
    border: 1px #aaaaaa solid;
    background-color: #13293d;
    padding: 12px;
    color: #fff;
    font-size: 80%;
  
  }
  



.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.container{
    display:grid;
    grid-template-columns: 25% 75%;
    background-color: #050607;
    padding:10px;
   

}

.about-me {
    margin-bottom: 20px;
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #050607;
    color: #ffffff;
    border-right:2px solid white;
   
}

.work {
    margin-bottom: 20px;
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #050607;
    color: #ffffff;
    border-right:2px solid white;
}

.contact {
   
   
    margin-bottom: 20px;
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #050607;
    color: #ffffff;
   

}

.about-me p{
    text-align: left;
}



.work img {
    max-width: 200px;
}

.contact img {
    max-width: 200px;
}

.about-me h2 {
    text-align:right;
    margin-bottom: 20px;
    font-size: 36px;
}

.work h2 {
    text-align: right;
    margin-bottom: 20px;
    font-size: 36px;
}

.contact h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}